.brandIcon {
  height: 56px;
  width: 56px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.herrgttli {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  color: inherit;
}
.appbar,
.herrgttliWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.herrgttliWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
}
.appbar {
  width: 100%;
  background-color: var(--color-yellow-100);
  border-bottom: 3px solid var(--color-black);
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-base) var(--padding-12xs);
  gap: var(--gap-base);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--body-size);
  color: var(--color-black);
  font-family: var(--title);
}
