@import url("https://fonts.googleapis.com/css2?family=Jockey+One:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-jockey-one: "Jockey One";

  /* Colors */
  --color-black: #000;
}
